<div>
<form action= "/" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="piratesName">
    </div>
    <div>
        <label for="name">Birthplace:</label>
        <input type="text" name="piratesBirthplace">
    </div>
        <div>
        <label for="name">Death Year:</label>
        <input type="text" name="piratesExpiration">
    </div>
    <div>
        <label for="name">Base:</label>
        <input type="text" name="piratesBase">
    </div>
    <div>
        <label for="name">Nickname:</label>
        <input type="text" name="piratesNomdeguerre">
    </div>
    <div>
        <input type="submit" value="Add Pirate">
    </div>
</form>
</div>